* {
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#heading {
    text-align: center;
    color: rgb(0, 0, 124);
    padding-top: 80px;
    padding-bottom: 1%;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}
form {
    width: 100%;
    max-width: 600px;
}
input, select {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    outline: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(68, 214, 183);
    border-image: initial;
    background: transparent;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group {
    flex-basis: 48%;
}
.input-group {
    margin-bottom: 30px;
    position: relative;
}
button {
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 100%;
    padding: 10px 0px;
    background: cornflowerblue;
    outline: none;
}